{% extends "not_loggedin_base.html" %}

{% block main_content %}
<div class="span10">
	<div class='intro_wrapper'>
		<div class="header1">Mobility. <strong> Download our App.</strong></div>
		<div class="header2">People love online buying more when using our app!</br>It's a tool for making online shopping easier.</div>
		<div class="preReg_wrapper_box wrapper_box_small">
			<div>
				<div class='appicon'>
					<img src="/img/appstore_icon.jpeg" width='200px'>
				</div>
				<div class='appicon'>
					<img src="/img/googleplay_icon.jpeg" width='200px'>
				</div>
				<div class='clearfix'></div>
			</div>
			<div>
				<form class='nomargin_form' action='{% if continue_url %}{{continue_url}}{% else %} {{uri_for("home")}} {% endif %}'>
				  <button class="preReg_button marginTop15" id="btn_preReg" type="submit">i've got the app.</button>
				  <button class="preReg_button preReg_button_grey marginTop15" id="btn_preReg" type="submit">i'll get it later.</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="span2">
	<div class="white_wrapper_box wrapper_box_sidebar">
		<header>
			<h1>on your tab.</h1>
		</header>
	</div>
</div>
{% endblock %}
