{% extends "createCart.html" %}

{% import 'macros.html' as lib with context %}

{% block createCartForm %}
	<div class='well well-small form-horizontal'>
		<form class='nomargin_form' method='POST'>
			<fieldset>
	            <input type="hidden" name="exception" value="{{ exception }}">
	            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
	            <input type="hidden" name="ck" value="{{ urlsafeCartKey }}">
				{{ lib.field(createCartForm.name, class="span6", maxlength="50", placeholder='Max 50 characters', label=_("New Cart Name")) }}
				{{ lib.field(createCartForm.description, class="span6", rows="10", maxlength="1000", placeholder='Max 1000 characters', label=_("Cart Description")) }}
				{{ lib.field(createCartForm.category, class="span3", label=_("Cart Category")) }}
				<button class='btn btn-primary pull-right' type='submit' >Create the cart.</button>
			</fieldset>
		</form>
	</div>
{% endblock %}

{% block top_right_aside %}
	<header><h4>Tips for your cart info.</h4></header>
	<ul>
		<li></li>
	</ul>
{% endblock %}
