{% extends "home.html" %}
{% import 'macros.html' as macros %}

{% block title %}
    {{cart.n}} - BournEE Exchange
{% endblock %}

{% block mediaScripts %}
	{% if cart.public %}
		<script type="text/javascript">var switchTo5x=false;</script>
		<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
		<script type="text/javascript">stLight.options({publisher: "f8506e67-f112-448c-bfee-c3e10c576198", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
	{% endif %}
{% endblock %}

{% block header %}{% endblock %}

{% block main_content %}
<div class='row'>
	<div class='span2'>
		{% if cart.img %}
			<img class="img-rounded" src="{{cart.img}}" width='170px' alt="{{cart.n}}">
		{% else %}
			<img class="img-rounded" data-src="holder.js/170x170/text:PubCart." alt="{{cart.n}}">
		{% endif %}
		{% if cart.st > 0.01 %}
		<div id='addCartToTabButtonWrapper' class='addCartToTabButtonWrapper'>
			<form id='addCartToTabForm' name='addCartToTabForm' action="{{ uri_for('addCartToTab')}}" method="POST">
		            <input type="hidden" name="exception" value="{{ exception }}">
		            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
					<input type="hidden" name="ck" value="{{cart.key.urlsafe()}}">
					<div class="btn-group">
					<button id='submitAddCartToTabForm' class="pubcart_button marginTop15 width_span2" type="submit" form="addCartToTabForm" >
						{% if not cart.dirty %} ${{cart.d_st}} - <small>put on Tab.</small>
						{% else %} put on Tab.
						{% endif %}
					</button></div>
			</form>
		</div>
		{% endif %}
		{% if cart.owner %}
			<div class='cartInfoWrapper'>
				<div class='cartInfoTitle'>
					Cart creator:
				</div>
				<div class='cartInfo'>
					{{cart.owner}}
				</div>
			</div>
		{% endif %}
		{% if cart.cat %}
			<div class='cartInfoWrapper'>
				<div class='cartInfoTitle'>
					Category:
				</div>
				<div class='cartInfo'>
					{{cart.cat}}
				</div>
			</div>
		{% endif %}
		{% if cart.ud %}
			<div class='cartInfoWrapper'>
				<div class='cartInfoTitle'>
					Updated on:
				</div>
				<div class='cartInfo'>
					{{cart.ud}}
				</div>
			</div>
		{% endif %}
	</div>
	<div class='span8'>
		<header class='fullpageTitleWrapper'>
			<span class='muted'>Cart:</span>
			{% set url= '/cart/'+ urlsafeCartKey %}
			{% if url in path or cart.n in path%}&nbsp;{{cart.n}}.&nbsp;&nbsp;
			{% else %}<a class='no_decoration' href='{{uri_for("fullPageCart",urlsafeCartKey=urlsafeCartKey)}}'>&nbsp;{{cart.n}}.&nbsp;&nbsp;</a>
			{% endif %}
			{% if not cart.public %}<span class="label label-warning">Private.</span>{% if cart.default %}&nbsp;&nbsp;<span class="label label-success">Default</span>{% endif %}{% else %}<span class="label label-success">Public.</span>
			{% endif %}
		</header>
		<article class='cartDescription'>
			<div class='muted'>Description:</div>
			{% if cart.d %}
				<div>{{cart.d}}</div>
			{% else %}
				<div>No cart description setup. Please click the -Edit Details- link below to setup teh cart's description.</div>
			{% endif %}
		</article>
		<nav class='cartMenuWrapper'>
			{% if not cart.public %}
				<div class='subnavMenuItemWrapper'>
					<a id='fcMakePublicButton' class='btn-link subnavMenuItem'>Make cart public.</a>
				</div>
			{% else %}
				<div class='subnavMenuItemWrapper'>
					<form id='addToWatchlistForm' name='addToWatchlistForm' action="{{ uri_for('addToWatchlist')}}" method="POST">
						<fieldset>
				            <input type="hidden" name="exception" value="{{ exception }}">
				            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
							<input type="hidden" name="ok" value="{{urlsafeCartKey}}">
							<input type="hidden" name="wln" value="ALL">
							<button type='submit' class="btn-link subnavMenuItem" >Watch.</button>
						</fieldset>
					</form>
				</div>
				<div class='subnavMenuItemWrapper'>
					<a id='fcShareButton' class='btn-link subnavMenuItem'>Share.</a>
				</div>
				<div class='subnavMenuItemWrapper'>
					<a id='fcEmbedButton' class='btn-link subnavMenuItem'>Embed.</a>
				</div>
			{% endif %}
			{% if '/makeCartPublic/' not in path %}
				{% if '/forkCart/' not in path %}
				<div class='subnavMenuItemWrapper'>
					<a id='fcForkButton' class='btn-link subnavMenuItem'>Fork.</a>
				</div>
				{% endif %}
				{% if cartOwner %}
					<div class='subnavMenuItemWrapper'>
						<a id='fcDetailsButton' class='btn-link subnavMenuItem'>Edit details.</a>
					</div>
					<div class='subnavMenuItemWrapper'>
						<a id='fcAddProductButton' class='btn-link subnavMenuItem {% if createCart or not productOrders %}active{% endif %}'>Add products.</a>
					</div>
				{% endif %}
			{% endif %}
		</nav>
		<div class='clearfix'></div>

			<!-- ################################ -->
			<!-- Beginning OF ADD PRODUCT WRAPPER -->
			<!-- ################################ -->
			{% if cartOwner %}
				<div id='addProductWrapper' class='addProductWrapper' {% if not createCart and productOrders %}style='display:none;'{% endif %}>
					<section class='white_wrapper_box_span8'>
						<header class='fullCart_popupFormsHeader'>Add products.</header>
						<form id="addProduct_form" class='nomargin_form' action="{{ uri_for('getProduct')}}" method='POST'>
							<input type="hidden" name="exception" value="{{ exception }}">
							<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
							<input type="hidden" name="ck" value="{{ urlsafeCartKey }}">
						  <div class="field_container product_number">
						    <label for="product_number" class="form_label label_small">Product Number</label>					
							{{ macros.field_no_label(addProductForm.productNumber, class="form_field field_small", placeholder='Manufacturer product number...') }}
						  </div>
						  <div class="field_container product_seller">
						    <label for="product_seller" class="form_label label_small">Product Seller</label>					
							{{ macros.field_no_label(addProductForm.urlsafeSellerKey, class="form_field field_small") }}
						  </div>
						  <button class="pubcart_button" id="btn_addProduct" type="submit">Add product to cart.</button>

						  <div style="clear:both;"></div>
						</form>
					</section>
				</div>
			{% endif %}
	
			<!-- ########################## -->
			<!-- Beginning OF SHARE WRAPPER -->
			<!-- ########################## -->
			<div id='shareWrapper' class='shareWrapper' style='display:none;'>
				<section class='white_wrapper_box_span8'>
					<header class='fullCart_popupFormsHeader'>Share cart.</header>
					<div class='shareContent'>
						<p>Why share? Let's explain.</p>
					</div>
					<div class='shareForm'>
						<span class='st_facebook_large' displayText='Facebook'></span>
						<span class='st_twitter_large' displayText='Tweet'></span>
						<span class='st_googleplus_large' displayText='Google +'></span>
						<span class='st_blogger_large' displayText='Blogger'></span>
						<span class='st_wordpress_large' displayText='WordPress'></span>
						<span class='st_myspace_large' displayText='MySpace'></span>
						<span class='st_reddit_large' displayText='Reddit'></span>
						<span class='st_digg_large' displayText='Digg'></span>
						<span class='st_tumblr_large' displayText='Tumblr'></span>
						<span class='st_stumbleupon_large' displayText='StumbleUpon'></span>
						<span class='st_email_large' displayText='Email'></span>
						<div class=''>
							<p>Cart page link.</p>
							<input type='text' class='span5' value="http://www.pubCart.com{{uri_for('fullPublicCart', userID=cart.uk.id(), cartName=cart.n)}}"/>
						</div>
					</div>
					<div class='clearfix'></div>
				</section>
			</div>
			<!-- #################### -->
			<!-- END OF SHARE WRAPPER -->
			<!-- #################### -->
			
			<!-- ########################## -->
			<!-- BEGINNING OF EMBED WRAPPER -->
			<!-- ########################## -->
			<div id='embedWrapper' class='embedWrapper' style='display:none;'>
				<section class='white_wrapper_box_span8'>
					<header class='fullCart_popupFormsHeader'>Embed cart.</header>
					<div class='embedContent'>
						<p>What is embed? Let's explain.</p>
					</div>
					<div class='embedForm'>
						<textarea rows='6'>Replace with embed code</textarea>
					</div>
					<div class='clearfix'></div>
				</section>
			</div>
			<!-- #################### -->
			<!-- END OF EMBED WRAPPER -->
			<!-- #################### -->
			
			
			<!-- ########################## -->
			<!-- BEGINNING OF FORK WRAPPER -->
			<!-- ########################## -->
			{% if '/forkCart/' not in path %}
			<div id='forkWrapper' class='forkWrapper' style='display:none;'>
				<section class='white_wrapper_box_span8'>
					<header class='fullCart_popupFormsHeader'>Fork cart.</header>
					<form class='nomargin_form' action="{{ uri_for('forkCart', urlsafeCartKey=urlsafeCartKey)}}" method='POST'>
						<input type="hidden" name="exception" value="{{ exception }}">
						<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
						<input type="hidden" name="ck" value="{{ urlsafeCartKey }}">
		 				<div class="field_container cartName">
		  				 	<label for="cartName" class="form_label label_small">Cart name</label>					
							{{ macros.field_no_label(forkCartForm.name, type='text', class="form_field field_small", placeholder='Choose a cart name...') }}
		  				</div>
		  				<div class="field_container category">
		    				<label for="category" class="form_label label_small">Category</label>					
							{{ macros.field_no_label(forkCartForm.category, class="form_field field_small") }}
		  				</div>
		  				<button class="pubcart_button" id="btn_newCart" type="submit">Fork cart.</button>
		  				<div style="clear:both;"></div>
					</form>
				</section>
			</div>
			{% endif %}
			<!-- ################### -->
			<!-- END OF FORK WRAPPER -->
			<!-- ################### -->
			
			<!-- ################################# -->
			<!-- BEGINNING OF EDIT DETAILS WRAPPER -->
			<!-- ################################# -->
			<div id='detailsWrapper' class='detailsWrapper' style='display:none;'>
				<section class='white_wrapper_box_span8'>
					<header class='fullCart_popupFormsHeader'>Edit cart details.</header>
					<form class='nomargin_form' action="{{ uri_for('editCartDetails', urlsafeCartKey=urlsafeCartKey)}}" method='POST'>
						<input type="hidden" name="exception" value="{{ exception }}">
						<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
						<input type="hidden" name="ck" value="{{ urlsafeCartKey }}">
		 				<div class="field_container cartDescription">
		  				 	<label for="cartDescription" class="form_label label_small">Cart description</label>					
							{{ macros.field_no_label(cartDetailsForm.description, rows="3", maxlength="1000", class="form_field field_large", placeholder='Cart Description...') }}
		  				</div>
		  				<div class="field_container category">
		    				<label for="category" class="form_label label_small">Category</label>					
							{{ macros.field_no_label(cartDetailsForm.category, class="form_field field_small marginBottom10") }}
		  				</div>
		  				<button class="pubcart_button" id="btn_newCart" type="submit">Update details.</button>
		  				<div style="clear:both;"></div>
					</form>
				</section>
			</div>
			<!-- ########################### -->
			<!-- END OF EDIT DETAILS WRAPPER -->
			<!-- ########################### -->
		
			<!-- ################################ -->
			<!-- BEGINNING OF TAKE PUBLIC WRAPPER -->
			<!-- ################################ -->
			<div id='takePublicWrapper' class='takePublicWrapper' style='display:none;'>
				<section class='white_wrapper_box_span8'>
					<header class='fullCart_popupFormsHeader'>Take cart public.</header>
					{% if cart.d and productOrders|count > 2 %}
						<div class='makePublicButton'>
							<form class='nomargin_form' action="{{ uri_for('makeCartPublic', urlsafeCartKey=urlsafeCartKey)}}" method='POST'>
								<input type="hidden" name="exception" value="{{ exception }}">
								<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
								<input type="hidden" name="ck" value="{{ urlsafeCartKey }}">
				  				<button class="pubcart_button" id="btn_newCart" type="submit">Make this cart public.</button>
							</form>
						</div>
						<div class='makePublicNote'>
							<div class="alert"><strong>Warning!</strong> This is final, and cannot be reversed.
</div>
						</div>
						<div class='clearfix'></div>
					{% else %}
						{% if not cart.d %}
							<div class="alert alert-error">You must have a cart description to take cart public.</div>
						{% endif %}
						{% if productOrders|count < 3 %}
							<div class="alert alert-error">You must have 3 or more products in the cart before making it public.</div>
						{% endif %}
					{% endif %}
				</section>
			</div>
			<!-- ########################## -->
			<!-- END OF TAKE PUBLIC WRAPPER -->
			<!-- ########################## -->


			<section class='white_wrapper_box_span8'>
					{% block CartContent %}
						{% if productOrders %}
							<table class="table table-striped table-hover table-condensed cartTable nomargin_table">
								<thead>
							        <tr>
										<th class="span1">Cart Qnt.</th>
							            <th class="span1">Img.</th>
										<th class="span2">Product.</th>
										<th class="span2">Seller.</th>
										<th class="span1">Popularity.</th>
										<th class="span1 right">Unit Price.</th>
							        </tr>
							    </thead>
								<tbody>
								    {% for order in productOrders %}
										<tr>
											<td class='span1'>
												{% if cartOwner %}
												<form class='nomargin_form marginTop5' action="{{ uri_for('changeQntOfOrder')}}" method='POST'>
													<input type="hidden" name="exception" value="{{ exception }}">
										            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
										            <input type="hidden" name="park" value="{{ urlsafeCartKey }}">
										            <input type="hidden" name="ok" value="{{ order.key.urlsafe() }}">
													<input id='fullCart_itemQNT_update' rel='tooltip' data-original-title='Hit Enter' data-trigger='focus' name='qnt' type='text' class='span1 fullCart_itemQNT_update' value='{{order.q}}'>
												</form>
												{% else %}
												<div class='qntNumber'>
												{{order.q}}
												</div>
												<div class='xSymbol'>x</div>
												<div class='clearfix'></div>
												{% endif %}
											</td>
											<td class='span1'>
												{% if order.fetch_img %}
													<img class="img-rounded" src="{{order.fetch_img}}" width='35px' alt="{{cart.n}}">
												{% else %}
													<img class="img-rounded" data-src="holder.js/35x35/text:PubCart." alt="{{cart.n}}">
												{% endif %}
											</td>
											<td class='span3'>
												<div id='{{order.productName}}_order_product_info_wrapper' class='order_product_info_wrapper'>
													<div class='order_pn_homepage'>
														<a href="{{uri_for('product', urlsafeProductKey=order.pk.urlsafe())}}">
															{{order.productName|truncate(length=19, killwords=True)}}
														</a>
													</div>
													<div class='order_name_homepage'>
														<a href="{{uri_for('product', urlsafeProductKey=order.pk.urlsafe())}}">
															{{order.description|truncate(length=19, killwords=True)}}
														</a>
													</div>
												</div>
											</td>
											<td class='span3'>
												{% if order.seller%}
													{{ order.seller }}
												{% endif %}
											</td>
											<td class='span2'>
												<div class="progress">
												  <div class="bar bar-success" style="width: {{ order.popularity }}%;"></div>
												</div>
												{% if order.savings %}
													<div class='cartRow_extraInfo green'>
														potential discount: <strong>{{order.savings}}% off</strong>
													</div>
												{% endif %}
											</td>
											<td class='span2 right'>
												<div class='small_buy_button_with_dropdown'>
													<div class='form_with_dropdown_wrapper'>
														<form id='addToTabForm' name='addToTabForm' action="{{ uri_for('addToTab')}}" method="POST" class='nomargin_form'>
													            <input type="hidden" name="exception" value="{{ exception }}">
													            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
																<input type="hidden" name="pk" value="{{order.pk.urlsafe()}}">
																<input type="hidden" name="uk" value="{{urlsafeUserKey}}">
																<input type="hidden" name="q" value="1">
																<div class="btn-group">
																	<button class="btn btn-mini">${{order.d_bup}} Buy</button>
																</div>
														</form>
													</div>
													<div class='dropDown_in_form'>
														<div class="btn-group">
															<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
																<span class="caret"></span>
															</button>
															<ul class="dropdown-menu pull-right">
																<li><a href="{{ uri_for('product', urlsafeProductKey=order.pk.urlsafe() ) }}">View Product</a></li>
															</ul>
														</div>
													</div>
													<div class='clearfix'></div>
												</div>
												<div class='clearfix'></div>
												
												{% if order.q > 1 %}
												<div class='cartRow_extraInfo'>
													${{order.d_st}} @ {{order.q}}
												</div>
												{% endif %}
											</td>
										</tr>
									{% endfor %}
								</tbody>
								<tfoot>
									<tr>
										<td colspan='4'>Total unique items: {{productOrders|count}}</td>
										<td colspan='2'><div class='textRight'>Cart sub-total: ${{cart.d_st}}</div></td>
									</tr>
								</tfoot>
							</table>
						{% else %}
							<div class="alert alert-info">
								<strong>Oh snap!</strong>You don't seem to have any orders in your cart.
							</div>
						{% endif %}
					{% endblock %}
			</section>
			
			<div class='clearfix'></div>
			
			{% if cartOwner %}
			<section>
				<div class="alert alert-info">
					<strong>Remove Items:</strong>  To remove an item from the cart, change it's quantity to 0.
				</div>
			</section>
			<section>
				<div class="alert alert-info">
					<strong>Edit cart description:</strong>  To edit the cart's description, click the -Edit Details- link above.
				</div>
			</section>
			{% endif %}
	</div> <!-- End of Span8 -->
</div> <!-- End of Row -->
{% endblock %}
