{% extends base_layout %}

{% block title %}{{ app_name }} Welcome{% endblock %}

{% block mediaScripts %}{% endblock %}


{% block content %}
<section id="intro">
	<div class="container innerContent">
	  <div class="row">
			<div class='span10'>
				{% block main_content %}
				
				<div class='intro_wrapper'>
					<div class="header1">Re-think <strong> E-Commerce</strong></div>
					<div class="header2">Taking the barriers away from online shopping</br>Safer, Faster, Cheaper, and Friendlier.</div>
					<div id="product_demo_wrapper" class="product_demo_wrapper">
						<header><h4>Trending Products.</h4></header>
						<div class='inner'>
							{% if trendingProducts %}
								<table class="table table-striped table-hover table-condensed">
									<tbody>
											{% for product in trendingProducts %}
												{% if product %}
												<tr class='pointer' onClick='linkTo("{{uri_for('product', urlsafeProductKey=product.key.urlsafe() )}}")'>
													<td colspan='2'>
														{{macros.homepage_product_widget(product)}}
													</td>
												</tr>
												{% endif %}
											{% endfor %}
									</tbody>
								</table>
							{% endif %}
						</div>
					</div>
					<div id="cart_demo_wrapper" class="cart_demo_wrapper">
						<header><h4>Trending Public Carts.</h4></header>
						<div class='inner'>
							{% if trendingCarts %}
								<table class="table table-striped table-hover table-condensed">
									<tbody>
											{% for cart in trendingCarts %}
												{% if cart %}
												<tr class='pointer' onClick='linkTo("{{uri_for('fullPageCart', urlsafeCartKey=cart.key.urlsafe() )}}")'>
													<td colspan='2'>
														{{macros.homepage_cart_widget(cart)}}
													</td>
												</tr>
												{% endif %}
											{% endfor %}
									</tbody>
								</table>
							{% endif %}
						</div>
					</div>
					<div class='clearfix'></div>
				</div>
				{% endblock %}
				<div id='pageMessageWrapper' class='pageMessageWrapper'>
					{% block important %}
					{% endblock %}
				</div>
			</div> <!-- END of span10 -->

			<div class='span2'>
				{{macros.tab_sidebar_widget(tab_items)}}
			</div> <!-- END of span2 -->
	  </div>
	</div>
</section>

<div class='info_section_shadow'></div>
{% endblock %}

{% block extra_content %}{% endblock %}

{% block mediaJS %}{% endblock %}

