{% extends base_layout %}
{% from 'widget/_product_small_widget.html' import homepage_product_widget %}

{% block title %}
    PubCart. Home
{% endblock %}

{% block mediaPanel %}{% endblock %}
{% block header %}{% endblock %}

{% block content %}
<section class='home_backdrop'>
	<div class='container nomargin'>
		<div class="row">
			<div class='span9'>
				<div class='row'>
					<div class='span3'>
						<div class="logo_home">{{ app_name }}</div>
					</div>
					<div class='intro span6'>
						<header>
							<div class='mantra'>A crowdsource shopping hub.</div>
							<div class='mantra'><small>More Demand = A Bigger Sale!</small></div>
						</header>
					</div>
				</div>
				<div class='home_search'>
					<form id='productSearchForm' class="form-inline nomargin_form" action="{{uri_for('mainSearch')}}" method='POST'>
						<fieldset>
							<input type="hidden" name="exception" value="{{ exception }}">
							<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
							<div class="input-prepend input-append">
								<select id="category" name="category" class='span2' style='margin'>
									<option value="">Any Category</option>
									{% for cat in cat_info %}
										{% if cat.0 == pcategory %}
											<option value="{{cat.0}}" selected="selected">{{cat.1}}</option>
										{% else %}
											<option value="{{cat.0}}">{{cat.1}}</option>
										{% endif %}
									{% endfor %}
								</select>
								<input type="text" class="span6" id="query" name="query" placeholder="Search to discover PubCart...">
								<button id='partSearchFormButton' type="submit" class="btn btn-warning"><strong>Discover now.</strong></button>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
			<div class='span3'>
			</div>
		</div>
	</div>
</section>
<section class='demo_info_section'>
	<div class='container'>
		<div class="row">
			<div class='span9'>
				<div id="product_demo_wrapper" class="product_demo_wrapper">
					<header><h4>Trending Products.</h4></header>
					<div class='inner'>
						{% if trendingProducts %}
							<table class="table table-striped table-hover table-condensed">
								<tbody>
										{% for product in trendingProducts %}
											{% if product %}
											<tr class='pointer' onClick='linkTo("{{uri_for('product', urlsafeProductKey=product.key.urlsafe() )}}")'>
												<td colspan='2'>
													{{macros.homepage_product_widget(product)}}
												</td>
											</tr>
											{% endif %}
										{% endfor %}
								</tbody>
							</table>
						{% endif %}
					</div>
				</div>
				<div id="cart_demo_wrapper" class="cart_demo_wrapper">
					<header><h4>Trending Public Carts.</h4></header>
					<div class='inner'>
						{% if trendingCarts %}
							<table class="table table-striped table-hover table-condensed">
								<tbody>
										{% for cart in trendingCarts %}
											{% if cart %}
											<tr class='pointer' onClick='linkTo("{{uri_for('fullPageCart', urlsafeCartKey=cart.key.urlsafe() )}}")'>
												<td colspan='2'>
													{{macros.homepage_cart_widget(cart)}}
												</td>
											</tr>
											{% endif %}
										{% endfor %}
								</tbody>
							</table>
						{% endif %}
					</div>
				</div>
				<div class='clearfix'></div>
				<div id="info_wrapper" class="info_wrapper">
					<header>
						<h2 class='center'>How You save money.</h2>
					</header>
					<div class='row'>
						<div class='hpw_1 span2'>
							<h3>1</h3>
							<div class='blurb'>
								Buy products from PubCart or our partners.
							</div>
						</div>
						<div class='arrow span1'></div>
						<div class='hpw_2 span3'>
							<h3>2</h3>
							<div class='blurb'>
								Product demand is calculated at PubCart's hub.
							</div>
						</div>
						<div class='arrow span1'></div>
						<div class='hpw_3 span2'>
							<h3>3</h3>
							<div class='blurb'>
								The more demand the less you pay.
							</div>
						</div>
					</div>
				</div>
			</div> <!-- END of span9 -->

			<div class='span3 homeSidebarMargin'>
				{% include 'defaultSidebar.html'%}
			</div>
		</div>
	</div>
</section>
<div class='info_section_shadow'></div>
{% endblock %}

{% block extra_content %}{% endblock %}

{% block mediaJS %}{% endblock %}

