{% macro render_pager() -%}
    <ul class="pager">
      {% if prev_cursor %}
      <li><a href="{{ pager_url('prev', prev_cursor) }}">Previous</a></li>
      {% else %}
      <li class='disabled'><span>Previous</span></li>
      {% endif %}
      {% if next_cursor %}
      <li><a href="{{ pager_url('next', next_cursor) }}">Next</a></li>
      {% else %}
      <li class='disabled'><span>Next</span></li>
      {% endif %}
    </ul>
{% endmacro %}

<!-- Renders a form field with errors, required flags, and common styling.  
	html element fields such as class, style, or type can be passed as kwargs.
	Usage: macros.field(form.username, class="input-xlarge", type="email") -->
{% macro field(field, label='') -%}
            <div class="control-group{% if field.errors %} error{% endif %}">
            	{% set text = label or field.label.text %}
            	{% if field.flags.required %}
                	{{ field.label(text=text + " *", class="control-label") }}
                {% else %}
                	{{ field.label(text=text + " ", class="control-label") }}
                {% endif %}
                <div class="controls">
                {{ field(**kwargs) }}
                {% if field.errors %}
                    {% for error in field.errors %}<label for="{{ field.id }}" class="error help-inline">{{ error }}</label>{% endfor %}
                {% endif %}
                </div>
            </div>
{%- endmacro %}

{% macro field_no_label(field) -%}
            <div class="control-group{% if field.errors %} error{% endif %}">
                <div class="controls">
                {{ field(**kwargs) }}
                {% if field.errors %}
                    {% for error in field.errors %}<br/><label for="{{ field.id }}" class="error help-inline">{{ error }}</label>{% endfor %}
                {% endif %}
                </div>
            </div>
{%- endmacro %}

<!-- renders federated login (openId and Oauth) login buttons -->
{% macro federated_login(provider_info, provider_uris, enable_federated_login) -%}
{% if enable_federated_login %}
            <div id="third_party_login" class="form-actions">
{#
                {% if disable_local_accounts %}
                <h4>{% trans %}Sign in using:{% endtrans %}</h4>
                {% else %}
#}
                <h4>{% trans %}Or Sign in using:{% endtrans %}</h4>
                <ul class="social-login-icons">
                    {% for p in provider_info if provider_uris[p] %}
                        <li><a href="{{ provider_uris[p] }}" class="social-btn social-btn-{{ p }}" title="{{ p }}">{{ p }}</a></li>
                    {% endfor %}
                </ul>
            </div>
{% endif %}
{%- endmacro %}

{% macro tab_sidebar_widget(username, tab, tab_items, path) -%}
						<div data-spy="affix" data-offset-top="0">
							<div class="white_wrapper_box_cred">
								<header class='textCenter'>
									<img data-src="holder.js/35x35/text:PubCart." alt="">
									<div class="btn-group marginBottom10 marginTop10">
									  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
									    @{{ username }}
									    <span class="caret"></span>
									  </a>
										<ul class="dropdown-menu textLeft">
											<li><a href="{{ uri_for('edit-profile') }}">{% trans %}Edit Profile.{% endtrans %}</a></li>
											<li class="divider"></li>
											<li><a href="{{ logout_url }}">{% trans %}Logout.{% endtrans %}</a></li>
										</ul>
									</div>
								</header>
								<div class="progress progress-striped active">
								  	<div class="bar " style="width: 40%;">
									</div>
									<div class='userCredWrapper'>
										<div class='left'>3</div>
										<div class='right'>cred lvl</div>
										<div class='clearfix'></div>
									</div>
								</div>
								<div class='credLevel_label'>

								</div>
								<div class='more_details_Link'>
									<a href=''>account details</a>
								</div>
							</div>

							{% if "Tab" in path %}
								<div class="white_wrapper_box_tab" >
									<header>
										<h1>Paid tabs.</h1>
									</header>
									{% if paidTabs %}
									<ul class=''>
										{% for tab in paidTabs %}
											<li>{{tab.pdd}} - ${{tab.d_gt}}</li>
										{% endfor %}
									</ul>
									{% else %}
										<p>No paid tabs yet.</p>
									{% endif %}
								</div>
							{% else %}
								<div class="white_wrapper_box_tab" >
									<form id='payTabButton' class='payTabButton nomargin_form' action="" method='POST'>
										<fieldset>
								            <input type="hidden" name="exception" value="{{ exception }}">
								            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
											<input type="hidden" name="tk" value="{{urlsafeTabKey}}">
											<input type="hidden" name="uk" value="{{urlsafeUserKey}}">
											<input type="hidden" name="tt" value="{{tabGrandTotalCents}}">
											<button class="preReg_button marginTop15" id="btn_preReg" type="submit">pay tab. ${{tab.d_gt}}</button>
										</fieldset>
									</form>
									<p class='textCenter'>
										{% if tab.st < 3000 %}
											<span class='red tiny'>$30 min. before shipping/tax</span><br/>
										{% endif %}
										<a href="{{ uri_for('viewTab', urlsafeTabKey=tab.key.urlsafe()) }}" class="">full tab details</a>
										==================

									</p>
									<header>
										<h1>on your tab.</h1>
									</header>
									<ul class='yourtab_content'>
										{% for item in tab_items %}
											<li>{{item.q}} x {{item.productName|truncate(length=20, killwords=True)}}</li>
										{% endfor %}
									</ul>
								</div>
							{% endif %}
						</div>
{%- endmacro %}

{% macro last_products_widget(product) %}
						<div id='{{product.pn}}_product_widget_wrapper_minilastproducts' class='product_widget_wrapper_minilastproducts'>
							<div class='product_name_minilastproducts'>
								{{product.d|truncate(length=29, killwords=True)}}
							</div>
							<div class='product_widget_inner_minilastproducts'>
								<div class='product_widget_image_minilastproducts'>
									{% if product.img %}
										<img src="{{product.img}}" class="img-rounded" width='40px' height='40px'/>
									{% else %}
										<img data-src="holder.js/40x40/text:PubCart." alt="">
									{% endif %}
								</div>
								<div id='{{product.pn}}_product_widget_info_wrapper_minilastproducts' class='product_widget_info_wrapper_minilastproducts'>
									<div class='product_pn_minilastproducts'>
										{{product.pn|truncate(length=10, killwords=True)}}
									</div>
									<div class='product_savings_minilastproducts'>
										<span>save: TODO</span>
									</div>
								</div>
								<div class='product_sup_minilastproducts'>
									<div>
										$ {{product.d_bup}}
									</div>
								</div>
							</div>
						</div>
					<div class="clearfix"></div>
{% endmacro %}


{% macro homepage_product_widget(product) %}
						<div id='{{product.pn}}_product_widget_wrapper_homepage' class='product_widget_wrapper_homepage'>

							<div class='product_widget_inner_homepage'>
								<div class='product_widget_image_homepage'>
									{% if product.img %}
										<img src="{{product.img}}" class="img-rounded" width='50px' height='50px'/>
									{% else %}
										<img data-src="holder.js/50x50/text:PubCart." alt="">
									{% endif %}
								</div>
								<div id='{{product.pn}}_product_widget_info_wrapper_homepage' class='product_widget_info_wrapper_homepage'>
									<div class='product_pn_homepage'>
										{{product.pn|truncate(length=16, killwords=True)}}
									</div>
									<div class='product_name_homepage'>
										{{product.d|truncate(length=21, killwords=True)}}
									</div>
								</div>
								<div class='product_sup_wrapper_homepage'>
									<div class='product_sup_homepage'>
										${{product.d_bup}}
									</div>
									<div class='product_savings_homepage'>
										<span>savings: TODO</span>
									</div>
								</div>
							</div>
						</div>
					<div class="clearfix"></div>
{% endmacro %}

{% macro homepage_cart_widget(cart) %}
						<div id='{{cart.n}}_cart_widget_wrapper_homepage' class='cart_widget_wrapper_homepage'>

							<div class='cart_widget_inner_homepage'>
								<div class='cart_widget_image_homepage'>
									{% if cart.img %}
										<img src="{{cart.img}}" class="img-rounded" width='50px' height='50px'/>
									{% else %}
										<img data-src="holder.js/50x50/text:PubCart." alt="">
									{% endif %}
								</div>
								<div id='{{cart.n}}_cart_widget_info_wrapper_homepage' class='cart_widget_info_wrapper_homepage'>
									<div class='cart_name_homepage'>
										{{cart.n|truncate(length=16, killwords=True)}}
									</div>
									<div class='cart_items_wrapper_homepage'>
										# of Items: {{cart.num_items}}
									</div>
								</div>
								<div class='cart_sup_wrapper_homepage'>
									<div class='cart_sup_homepage'>
										${{cart.d_st}}
									</div>
									<div class='cart_savings_homepage'>
										<span>savings: TODO</span>
									</div>
								</div>
							</div>
						</div>
					<div class="clearfix"></div>
{% endmacro %}

{% macro search_product_widget(product) %}
						<div id='{{product.pn}}_product_widget_wrapper_search' class='product_widget_wrapper_search'>

							<div class='product_widget_inner_search'>
								<div class='product_widget_image_search'>
									{% if product.img %}
										<img src="{{product.img}}" class="img-rounded" width='50px' height='50px'/>
									{% else %}
										<img data-src="holder.js/50x50/text:PubCart." alt="">
									{% endif %}
								</div>
								<div id='{{product.pn}}_product_widget_info_wrapper_search' class='product_widget_info_wrapper_search pointer' onClick='linkTo("{{uri_for('product', urlsafeProductKey=product.key.urlsafe() )}}")'>
									<div class='product_pn_search'>
										{{product.pn|truncate(length=24, killwords=True)}}
									</div>
									<div class='product_name_search'>
										{{product.d|truncate(length=31, killwords=True)}}
									</div>
								</div>
								<div class='product_param_wrapper_search'>
									<div class='product_param_val'>
										${{product.d_bup}}
									</div>
									<div class='product_param_title'>
										<span>Best Price.</span>
									</div>
								</div>
								<div class='product_param_wrapper_search'>
									<div class='product_param_val product_param_savings'>
										TO.DO.%
									</div>
									<div class='product_param_title'>
										<span>Savings</span>
									</div>
								</div>
								<div class='product_param_wrapper_search'>
									<div class='product_param_val product_param_last_val'>
										${{product.d_cp}}
									</div>
									<div class='product_param_title'>
										<span>Last Price.</span>
									</div>
								</div>
								<div class='product_param_wrapper_search'>
									<div class='product_param_val product_param_last_val'>
										{{product.cq}}
									</div>
									<div class='product_param_title'>
										<span>Last Qnt.</span>
									</div>
								</div>
								<div class='product_actions_wrapper_search'>
									<div class="btn-group">
										<button class="btn btn-mini">${{product.d_bup}} Buy</button>
										<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu pull-right">
											<li><a href="{{ uri_for('product', urlsafeProductKey=product.key.urlsafe() ) }}">View Product</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					<div class="clearfix"></div>
{% endmacro %}

{% macro sc_product_widget(productOrder, urlsafeCartKey, iter) %}
					<div id='{{productOrder.clean_pn }}_product_widget_wrapper_minicart' class='product_widget_wrapper_minicart'>
						<div class='product_widget_inner_minicart'>
							<div class='product_widget_image_minicart'>
								{% if productOrder.fetch_img %}
									<img src="{{productOrder.fetch_img}}" class="img-rounded" width='40px' height='40px'/>
								{% else %}
									<img data-src="holder.js/40x40/text:PubCart." class="img-rounded">
								{% endif %}
							</div>
							<div id='{{productOrder.clean_pn}}_product_widget_info_wrapper_minicart' class='product_widget_info_wrapper_minicart'>
								<div class='product_pn_minicart'>
									{% if productOrder.pn %}
										<a class='pn_link' href="{{ uri_for('product', urlsafeProductKey=productOrder.pk.urlsafe()) }}">{{productOrder.pn|truncate(length=17, killwords=True)}}</a>
									{% endif %}
								</div>
								<div cllass='product_sup_minicart'>
									{{productOrder.q}} @ ${{productOrder.d_bup}} = ${{productOrder.d_st}}
								</div>
							</div>
							<div id='{{productOrder.clean_pn}}_product_widget_button_minicart' class='product_widget_button_minicart'>
								<div class="btn-group">
								    <button id='cartMoreOptionsButton{{iter}}' class="btn btn-mini dropdown-toggle" data-toggle="dropdown" rel="tooltip" title="More Options">
								      <span class="caret"></span>
								    </button>
								    <ul class="dropdown-menu pull-right">
										<form id='deleteFromCartForm_{{productOrder.clean_pn }}' name='deleteFromCartForm' class="form-inline" action="{{uri_for('removeFromCart')}}" method="POST">
											<fieldset>
									            <input type="hidden" name="exception" value="{{ exception }}">
									            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
												<input type="hidden" name="ok" value="{{productOrder.key.urlsafe()}}">
												<input type="hidden" name="ck" value="{{urlsafeCartKey}}">
												<input type="hidden" name="ost" value="{{productOrder.st}}">
												<input type="hidden" name="lo" value="{{productOrder.is_lo}}">
												<li><button type='submit' ><i class="icon-trash"></i> Remove</button></li>
											</fieldset>
										</form>
										<li><button id='toggleChangeQntButton' class='toggleChangeQntButton'name='{{productOrder.clean_pn }}'><i class="icon-wrench"></i> Change QNT</button></li>
									    <li class="divider"></li>
								        <li><a href="{{ uri_for('product', urlsafeProductKey=productOrder.pk.urlsafe() ) }}">View Product</a></li>
									    <li><a href="{{ uri_for('fullPageCart', urlsafeCartKey=urlsafeCartKey) }}">More Details</a></li>
								    </ul>
							  	</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>

					<div id='{{productOrder.clean_pn }}_chgQntFormSmallWidgetWrapper' class='chgQntFormSmallWidgetWrapper' style='display:None'>
						<button id='toggleChangeQntButtonX' name='{{productOrder.clean_pn }}' style='margin:4px 0 0 10px' class="close toggleChangeQntButtonX">&times;</button>
	
						<form id='chgQntFromCartForm_{{productOrder.clean_pn }}' name='chgQntFromCartForm' class="form-inline sidebarForm" action="{{uri_for('changeQntOfOrder')}}" method="POST">
							<fieldset>
					            <input type="hidden" name="exception" value="{{ exception }}">
					            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
								<input type="hidden" name="ok" value="{{productOrder.key.urlsafe()}}">
								<input type="hidden" name="ck" value="{{urlsafeCartKey}}">
								<input type="hidden" name="ost" value="{{productOrder.st}}">
								<input type="text" name="q" class="span1" value="{{productOrder.q}}">
								<button type='submit' class='btn'>update</button>
							</fieldset>
						</form>
					</div>
{% endmacro %}



{% macro publicCart_widget(cart, iter) %}
						<div id='{{cart.n}}_widget_wrapper' class='product_widget_wrapper_minipublic'>
							<div class='product_widget_inner_minipublic'>
								<div class='product_widget_image_minipublic'>
									{% if cart.img %}
										<img src="{{cart.img}}" class="img-rounded" width='40px' height='40px'/>
									{% else %}
										<img data-src="holder.js/40x40/text:PubCart." class="img-rounded">
									{% endif %}
								</div>
								<div id='{{cart.n}}_widget_info_wrapper' class='product_widget_info_wrapper_minipublic'>
									<div class='product_name_minipublic'>
										<a class='no_decoration' href="{{ uri_for('fullPageCart', urlsafeCartKey=cart.key.urlsafe()) }}"><i class="icon-shopping-cart"></i>&nbsp;&nbsp;{{cart.n|truncate(length=25, killwords=True)}}</a>
									</div>
									<div cllass='product_sup_minipublic'>
										<span class="label">$ {{cart.d_gt}}</span><span class='muted'>&nbsp;&nbsp;&nbsp;savings: TODO</span>
									</div>
								</div>
								<div id='{{cart.n}}_widget_button' class='product_widget_button_minipublic'>
									<div class="btn-group">
									    <button id='wlMoreOptionsButton{{iter}}' class="btn btn-mini dropdown-toggle" data-toggle="dropdown" rel="tooltip" title="More Options">
									      <span class="caret"></span>
									    </button>
									    <ul class="dropdown-menu pull-right">
									        <li><a href="{{ uri_for('fullPageCart', urlsafeCartKey=cart.key.urlsafe()) }}">View Cart</a></li>
									    </ul>
								  	</div>
								</div>
							</div>
						</div>
{% endmacro %}