{% extends "home.html" %}
{% import 'macros.html' as macros %}
{% import "/snipets/listRow.html" as listRow %}

{% block title %}
    My carts list - PubCart
{% endblock %}

{% block mediaScripts %}{% endblock %}

{% block header %}{% endblock %}

{% block main_content %}
	<div class='row'>

		<div class='span2'>
<!-- 		<img class="img-rounded pageMainImage" src="" width='170px' alt="">-->
			<img class="img-rounded pageMainImage" data-src="holder.js/170x170/text:PubCart." alt="">
			<div id='createCartButtonWrapper' class='createCartButtonWrapper'>
				<button id='toggleCreateCartForm' class="pubcart_button pubcart_button_small marginBottom20">
					Create a new cart.
				</button>
			</div>
		</div>

		<div class='span8'>
			<header class='fullpageTitleWrapper'>
				<span class='muted'>list:</span>
				My carts
			</header>
			<article class='cartDescription'>
				<div class='muted'>Description:</div>
				<p>A cart is a very useful item for organizing and publicizing a list of products. Some examples might be products you are interested in, a top ten list, and more commonly a group of products which comprise a kit or bill of materials.</p><p>You can create private or public carts and embed them on different websites.</p><p>If you see a cart you like and want to make slight changes you can copy/Fork the cart onto your PubCart account for editing.</p>
			</article>


			<!-- ######################## -->
			<!-- Beginning OF CREATE CART -->
			<!-- ######################## -->
			<div id='createCartFormWrapper' class='createCartFormWrapper' style='display:none;'>
				<section class='white_wrapper_box_span8'>
					<header class='fullCart_popupFormsHeader'>Create a cart.</header>
					<form id="newCart_form" class='nomargin_form' method='POST'>
						<input type="hidden" name="exception" value="{{ exception }}">
						<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
					  <div class="field_container cartName">
					    <label for="cartName" class="form_label label_small">Cart name</label>					
						{{ macros.field_no_label(createCartForm.name, type='text', class="form_field field_small", placeholder='Choose a cart name...') }}
					  </div>
					  <div class="field_container category">
					    <label for="category" class="form_label label_small">Category</label>					
						{{ macros.field_no_label(createCartForm.category, class="form_field field_small") }}
					  </div>
					  <button class="pubcart_button pubcart_button_medium" id="btn_newCart" type="submit">Create the cart.</button>
					  <div style="clear:both;"></div>
					</form>
				</section>
			</div>
			<!-- ################## -->
			<!-- END OF CREATE CART -->
			<!-- ################## -->
		</div>
	</div>

	<div class='row'>
		<div class='span5'>
			<section class='white_wrapper_box'>
				<div class='inner_wrapper'>
					<header class='fullCart_popupFormsHeader'>Private carts.</header>
					{% if privateCarts %}
						<table class="table table-striped table-hover table-condensed cartTable nomargin_table">
							<thead>
						        <tr>
						            <th class="span1">Img.</th>
									<th style="width:250px">Cart.</th>
									<th class="">$ Total.</th>
									<th style="width:30px"></th>
						        </tr>
						    </thead>
							<tbody>
								{% set iter = 0 %}
							    {% for cart in privateCarts %}
									{% set iter = iter + 1 %}
									{% set pre = '(Private) ' %}
									{{listRow.cartRowSmall(cart, False, iter, pre)}}
							    {% endfor %}
						   	</tbody>
						</table>
				    {% else %}
				    	<p>No private carts at this time.</p>
				    {% endif %}
				</div>
			</section>
		</div>
		<div class='span5'>
			<section class='white_wrapper_box'>
				<div class='inner_wrapper'>
					<header class='fullCart_popupFormsHeader'>Public carts.</header>
					{% if publicCarts %}
						<table class="table table-striped table-hover table-condensed cartTable nomargin_table">
							<thead>
						        <tr>
						            <th class="span1">Img.</th>
									<th style="width:250px">Cart.</th>
									<th class="">$ Total.</th>
									<th style="width:30px"></th>
						        </tr>
						    </thead>
							<tbody>
								{% set iter = 0 %}
								{% for cart in publicCarts %}
									{% set iter = iter + 1 %}
									{% set pre = '' %}
									{{listRow.cartRowSmall(cart, True, iter, pre)}}
							    {% endfor %}
							</tbody>
						</table>
				    {% else %}
				    	<p>No public carts at this time.</p>
				    {% endif %}
				</div>
			</section>
		</div>
	</div>

{% endblock %}

