{% extends base_layout %}

{% block title %}{{ app_name }} Welcome{% endblock %}

{% block mediaScripts %}{% endblock %}

{% block content %}
<section id="intro">
	<div class="container innerContent">
	  <div class="row">
		{% block main_content %}
		{% endblock %}
	  </div>
	</div>
</section>
<div class='info_section_shadow'></div>

<section>
	<div class='container innerContent'>
		<div id="info_wrapper" class="info_wrapper">
			<div class='row'>
				<div class='span2'></div>
				<div class='hpw_1 span2'>
					<h3>1</h3>
					<div class='blurb'>
						Buy products from PubCart partners around the web.
					</div>
				</div>
				<div class='arrow span1'></div>
				<div class='hpw_2 span2'>
					<h3>2</h3>
					<div class='blurb'>
						Product demand is calculated at PubCart's hub.
					</div>
				</div>
				<div class='arrow span1'></div>
				<div class='hpw_3 span2'>
					<h3>3</h3>
					<div class='blurb'>
						The more demand the less you pay.
					</div>
				</div>
				<div class='span2'></div>
			</div>
		</div>
	</div>
</section>
{% endblock %}


