{% extends base_layout %}

{% block title %}{{ app_name }} pre-Register{% endblock %}
{% block mediaCSS %}
	<link rel="stylesheet" href="/css/prereg.css">
{% endblock %}
{% block navbar %}
<div class='container innerContent'>
	<div class="row">
		<div class='span11'>
		</div>
		<div class='span1'>
			{% if user_id %}<a href="{{ logout_url }}" class='btn'>{% trans %}Logout.{% endtrans %}</a>{% endif %}
		</div>
	</div>
	<div class='row'>
		<div class='span5'>
			<a href="/" class="PubCart page-active"><div class="logo_preReg">{{ app_name }}</div></a>
		</div>
		<div class='span7'>
			<header>
				<div class='mantra'>The crowdsource shopping hub.</div>
				<div class='mantra'><small>More Demand = Pay Less !</small></div>
			</header>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class='container innerContent'>
	<div class="row">
		<div class='span8'>
			{% block main_content %}
			<div id="info_wrapper" class="info_wrapper">
				<div class='row'>
					<div class='hpw_1 span2'>
						<h3>1</h3>
						<div class='blurb'>
							Buy products from PubCart partners around the web.
						</div>
					</div>
					<div class='arrow span1'></div>
					<div class='hpw_2 span2'>
						<h3>2</h3>
						<div class='blurb'>
							Product demand is calculated at PubCart's hub.
						</div>
					</div>
					<div class='arrow span1'></div>
					<div class='hpw_3 span2'>
						<h3>3</h3>
						<div class='blurb'>
							The more demand the less you pay.
						</div>
					</div>
				</div>
			</div>
			{% endblock %}
		</div>
		<div class='span4'>
			{% if not user_id %}
				{% if enable_federated_login %}
		            <div id="third_party_login" class="preReg">
		                <h4>{% trans %}Pre-Register using:{% endtrans %}</h4>
						<div class='preReg_social_icons'>
			                <ul class="social-login-icons">
			                    {% for p in provider_info if provider_uris[p] %}
			                        <li><a href="{{ provider_uris[p] }}?continue_url={{continue_url}}" class="social-btn social-btn-{{ p }}" title="{{ p }}">{{ p }}</a></li>
			                    {% endfor %}
			                </ul>
						</div>
		            </div>
				{% endif %}
			{% endif %}
			<div class='preReg_social_links'>
				<h4>"You should follow PubCart on twitter <a href='https://twitter.com/PubCartApp'>here</a>"</h4>
			</div>

		</div> <!-- / End of Main Content Column -->
	</div>
</div>
{% endblock %}

{% block footer %}
	<footer class="global-footer">
		<div class='container'>
		    <nav class="footer-nav">
		        <ul>
		            <!-- <li data-analytics="footer for you"><a href="">For You.</a></li>
		            <li data-analytics="footer for websties"><a href="">For Websites.</a></li>
		            <li data-analytics="footer for sellers"><a href="">For Sellers.</a></li> -->
		            <li data-analytics="footer about"><a href="{{uri_for('about')}}">About.</a></li>
		            <!-- <li data-analytics="footer blog"><a href="">Blog.</a></li> -->
		            <li data-analytics="footer jobs"><a href="{{uri_for('jobs')}}">Jobs.</a></li>
		        </ul>
		        <span class="copyright">Copyright 2013 · <a href="/" class="PubCart page-active">{{app_name}}</a></span>
		    </nav>
		</div>
	</footer>
{% endblock %}

