{% extends "home.html" %}
{% import 'macros.html' as macros %}
{% import "/snipets/addToTabButtons.html" as addToTab %}

{% block title %}
    {{product.d}} - BournEE Exchange
{% endblock %}

{% block mediaScripts %}
	<script type="text/javascript">var switchTo5x=false;</script>
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "f8506e67-f112-448c-bfee-c3e10c576198", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
{% endblock %}

{% block header %}{% endblock %}

{% block main_content %}
	<div class='row'>
		<div class='span2'>
			{% if product.img %}
				<img class="img-rounded" src="{{product.img}}" width='170px' alt="{{product.n}} Image">
			{% else %}
				<img class="img-rounded" data-src="holder.js/170x170/text:PubCart." alt="{{product.n}} Image">
			{% endif %}
			<div id='addProductToTabButtonWrapper' class='addProductToTabButtonWrapper'>
				{{addToTab.addProductToTab(product.pn, product.key.urlsafe(), best_price, urlsafeUserKey, buttonClass="pubcart_button marginTop15 marginBottom15 width_span2", buttonText='- put on Tab', requirePassword=True)}}
			</div>
			<div class='productInfoWrapper'>
				<div class='productInfoTitle'>
					Popularity:
				</div>
				<div class='productInfo'>
					<div class="progress marginTop5">
						<div class="bar bar-success" style="width: {{ product.popularity }}%;"></div>
					</div>
					{% if product.savings %}
						<div class='product_potential_savings green'>
							potential discount: <strong>{{product.savings}}% off</strong>
						</div>
					{% endif %}
				</div>
			</div>

			{% if product.sn %}
				<div class='productInfoWrapper'>
					<div class='productInfoTitle'>
						Seller:
					</div>
					<div class='productInfo'>
						{{product.sn}}
					</div>
				</div>
			{% endif %}
			{% if product.cat %}
				<div class='productInfoWrapper'>
					<div class='productInfoTitle'>
						Category:
					</div>
					<div class='productInfo'>
						{{product.cat}}
					</div>
				</div>
			{% endif %}
			{% if product.ud %}
				<div class='productInfoWrapper'>
					<div class='productInfoTitle'>
						Updated on:
					</div>
					<div class='productInfo'>
						{{product.ud}}
					</div>
				</div>
			{% endif %}
		</div> <!-- END OF SPAN 2 -->


		<div class='span8'>
			<header class='fullpageTitleWrapper'>
				<span class='muted'>Product:</span>
				&nbsp;&nbsp;{{product.pn}}.
			</header>
			<article class='productDescription'>
				<div class='muted'>Description:</div>
				{% if product.d %}
					<div>{{product.d}}</div>
				{% endif %}
			</article>

			<nav class='productMenuWrapper'>
				<div class='subnavMenuItemWrapper'>
					<form id='addToWatchlistForm' name='addToWatchlistForm' action="{{ uri_for('addToWatchlist')}}" method="POST">
						<fieldset>
				            <input type="hidden" name="exception" value="{{ exception }}">
				            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
							<input type="hidden" name="ok" value="{{product.key.urlsafe()}}">
							<input type="hidden" name="wln" value="ALL">
							<button type='submit' class="btn-link subnavMenuItem" >Watch.</button>
						</fieldset>
					</form>
				</div>
				<div class='subnavMenuItemWrapper'>
					<a id='fcShareButton' class='btn-link subnavMenuItem'>Share.</a>
				</div>
				<div class='subnavMenuItemWrapper'>
					<a id='fcEmbedButton' class='btn-link subnavMenuItem'>Embed.</a>
				</div>
			</nav>

			<!-- ########################## -->
			<!-- Beginning OF SHARE WRAPPER -->
			<!-- ########################## -->
			<div id='shareWrapper' class='shareWrapper' style='display:none;'>
				<section class='white_wrapper_box_span8'>
					<header class='fullproduct_infoBoxHeader'>Share product.</header>
					<div class='shareContent'>
						<p>Why share? Let's explain.</p>
					</div>
					<div class='shareForm'>
						<span class='st_facebook_large' displayText='Facebook'></span>
						<span class='st_twitter_large' displayText='Tweet'></span>
						<span class='st_googleplus_large' displayText='Google +'></span>
						<span class='st_blogger_large' displayText='Blogger'></span>
						<span class='st_wordpress_large' displayText='WordPress'></span>
						<span class='st_myspace_large' displayText='MySpace'></span>
						<span class='st_reddit_large' displayText='Reddit'></span>
						<span class='st_digg_large' displayText='Digg'></span>
						<span class='st_tumblr_large' displayText='Tumblr'></span>
						<span class='st_stumbleupon_large' displayText='StumbleUpon'></span>
						<span class='st_email_large' displayText='Email'></span>
						<div class=''>
							<p>Cart page link.</p>
							<input type='text' class='span5' value="http://www.pubCart.com{{uri_for('sellerProduct', sellerID=product.sk.id(), productNumber=product.pn)}}"/>
						</div>
					</div>
					<div class='clearfix'></div>
				</section>
			</div>
			<!-- #################### -->
			<!-- END OF SHARE WRAPPER -->
			<!-- #################### -->
			
			<!-- ########################## -->
			<!-- BEGINNING OF EMBED WRAPPER -->
			<!-- ########################## -->
			<div id='embedWrapper' class='embedWrapper' style='display:none;'>
				<section class='white_wrapper_box_span8'>
					<header class='fullproduct_infoBoxHeader'>Embed product.</header>
					<div class='embedContent'>
						<p>What is embed? Let's explain.</p>
					</div>
					<div class='embedForm'>
						<textarea rows='6'>Replace with embed code</textarea>
					</div>
					<div class='clearfix'></div>
				</section>
			</div>
			<!-- #################### -->
			<!-- END OF EMBED WRAPPER -->
			<!-- #################### -->

			<section class='white_wrapper_box_span8'>
				<header class='fullproduct_infoBoxHeader'>Product info.</header>
					{% if product.m %}
					<div id='productManufacturerTitle_{{product.pn}}' class='productManufacturerTitle'>
						<span class='productDescriptionTitles muted'>Manufacturer:&nbsp;&nbsp;&nbsp;</span>{{product.m}}
					</div>
					{% endif %}
					{% if product.pn %}
					<div id='productManuNumTitle_{{product.pn}}' class='productManuNumTitle'>
						<span class='productDescriptionTitles muted'>Manu. Product #:&nbsp;&nbsp;&nbsp;</span>{{product.pn}}
					</div>
					{% endif %}
					{% if product.mq %}
					<div id='productMinQntTitle_{{product.pn}}' class='productMinQntTitle'>
						<span class='productDescriptionTitles muted'>Min. QNT:&nbsp;&nbsp;&nbsp;</span>{{product.mq}}
					</div>
					{% endif %}
					{% if product.qa %}
					<div id='productQuantityAvailableTitle_{{product.pn}}' class='productQuantityAvailableTitle'>
						<span class='productDescriptionTitles muted'>Available:&nbsp;&nbsp;&nbsp;</span>{{product.qa}}
					</div>
					{% endif %}
					<div class=''>
						--------------------
					</div>
					{% if product.mt %}
					<div id='productMountingTypeTitle_{{product.pn}}' class='productMountingTypeTitle'>
						<span class='productDescriptionTitles muted'>Mounting Type:&nbsp;&nbsp;&nbsp;</span>{{product.mt}}
					</div>
					{% endif %}
					{% if product.pc %}
					<div id='productMountingTypeTitle_{{product.pn}}' class='productMountingTypeTitle'>
						<span class='productDescriptionTitles muted'>Package / Case:&nbsp;&nbsp;&nbsp;</span>{{product.pc}}
					</div>
					{% endif %}
					{% if product.sdp %}
					<div id='productSupplierDevicePackageTitle_{{product.pn}}' class='productSupplierDevicePackageTitle'>
						<span class='productDescriptionTitles muted'>Supplier Device Package:&nbsp;&nbsp;&nbsp;</span>{{product.sdp}}
					</div>
					{% endif %}
					<div class=''>
						--------------------
					</div>
					<div id='productQuantityAvailableTitle_{{product.pn}}' class='productQuantityAvailableTitle'>
						{% if product.isl %}
						<a class='btn btn-mini' href="{{product.isl}}" target="_blank" rel="nofollow"><i class="icon-file"></i>  Datasheet PDF</a>
						{% endif %}
						{% if product.spl %}
						<a class='btn btn-mini' href="{{product.spl}}" target="_blank" rel="nofollow">DigiKey Page</a>
						{% endif %}
					</div>
			</section>

			<div class='clearfix'></div>
			
			{% if cartsWithProduct %}
			<section>
				<header class='fullproduct_infoBoxHeader'>Found in these carts.</header>
				{% for cart in cartsWithProduct %}
					<div class='mini_Wrapper'>
						<div class='mini_ImageWrapper'>
							{% if cart.img %}
								<img class="img-rounded" src="{{cart.img}}" width='40px' alt="{{cart.n}}">
							{% else %}
								<img class="img-rounded" data-src="holder.js/40x40/text:PubCart." alt="{{cart.n}}">
							{% endif %}
						</div>
						<div class='mini_NameWrapper'>
							<div class='mini_NameWrapper_Name'>
								<a href="{{ uri_for('fullPageCart', urlsafeCartKey=cart.key.urlsafe()) }}">
									{{cart.n|truncate(length=16, killwords=True)}}
								</a>
								<small>&nbsp;&nbsp;by {{cart.owner|truncate(length=10, killwords=True)}}</small>
							</div>
							<div class='mini_NameWrapper_Desc'>
								<a href="{{ uri_for('fullPageCart', urlsafeCartKey=cart.key.urlsafe()) }}">
									{{cart.d|truncate(length=30, killwords=True)}}
								</a>
							</div>
						</div>
						<div class='mini_ButtonWarpper right'>
							<div id='addProductToTabButtonWrapper' class='addProductToTabButtonWrapper'>
								{{addToTab.addCartToTab(cart.n, cart.key.urlsafe(), cart.d_st, urlsafeUserKey, buttonClass='btn btn-mini', buttonText='Buy', requirePassword=True)}}
							</div>
						</div>
						<div class='clearfix'></div>
					</div>
				{% endfor %}
			</section>
			{% endif %}
		</div>
	</div>
{% endblock %}
