{% extends "bourneeBase.html" %}

{% block title %}
    Search Results - PubCart.
{% endblock %}

{% block header %}{% endblock %}

{% block main_content %}
<table class="table table-striped table-hover table-condensed">
    <thead>
		<tr>
			<td>
				<header>
					<div class='fullpageTitleWrapper'>
						Search Results.
					</div>
				</header>
			</td>
		</tr>
		{% if modelResults %}
			<tr class='info'>
				<th class='header'>{{first_res}} - {{last_res}} of {{number_found}} {{qtype}}s shown for query: <i>{{print_query}}</i></th>
			</tr>
		{% endif %}
    </thead>
	<tbody>
		{% if modelResults %}
			{% for product in modelResults %}
					{% if product %}
					<tr>
						<td>
							{{macros.search_product_widget(product)}}
						</td>
					</tr>
					{% endif %}
			{% endfor %}
		{% else %}
			<tr>
				<td>
					<div class="alert alert-info">
						<strong>Oh snap!</strong>Nothing found using your search query: {{print_query}}
					</div>
				</td>
			</tr>
		{% endif %}
	</tbody>
</table>

{{ macros.render_pager() }}


{% endblock %}

{% block extra_content %}{% endblock %}

{% block mediaJS %}
	<script type="text/javascript" language="JavaScript">
	document.forms['searchform'].elements['query'].focus();
	</script>
{% endblock %}