{% extends base_layout %}

{% block title %}{{ app_name }} pre-Register{% endblock %}
{% block mediaCSS %}
	<link rel="stylesheet" href="/css/prereg.css">
{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner nomargin">
		<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-chevron-down icon"></span>
		</button>
		<div class="nav-collapse">
			<div class='container'>
			
			</div>
		</div><!-- /.nav-collapse -->
	</div><!-- /navbar-inner -->
</div><!-- /navbar -->
{% block mediaPanel %}
<div class="mediaPanelSmall" style="margin-bottom:16px;">
	<div class="container nomargin">
	    <div class='row'>
			<div class='span3'>
				{% block small_logo %}
					<div class="marginTop10">
						<a href="/" class='marginRight25'><div class="logo_small">{{ app_name }}</div></a>
					</div>
				{% endblock %}
			</div>
			<div class='span9'>
				<div class='preReg_note'>
					Pre-Register below, we will be saving you money soon!
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %} <!-- End of mediaPanel Block -->
{% endblock %}

{% block content %}
<section id="intro">
	<div class="container innerContent">
	  <div class="row">
	    <div class="span12">
			{% block main_content %}
		
			<div class='intro_wrapper'>
	      		<div class="header1">Crowdsource your<strong> Component Buying.</strong></div>
	      		<div class="header2">PubCart batch orders your electrical components. <br>The more demand a component has, the more you save!</div>
				<div class="preReg_wrapper_box">
					{% if preReg_email %}
						<h1>Success!</h1>
						<h3>{{preReg_email}}</h3>
						<p>We thank you for your support and we will notify you as soon as PubCart is ready for you.</p>
						<a href='{{uri_for("preLaunchSignup", new=True)}}' class='muted'>pre-register another email.</a>
					{% else %}
					<form id="preReg_form" class='nomargin_form' method='POST'>
						<input type="hidden" name="exception" value="{{ exception }}">
						<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
					  <div class="field_container email">
					    <label for="email" class="label_email">Your email</label>					
						{{ macros.field_no_label(form.email, type='email', class="field_email", placeholder='Enter email to be notified when we launch...') }}
					  </div>
					  <button class="preReg_button" id="btn_preReg" type="submit">Pre-register now!</button>

					  <div style="clear:both;"></div>
					</form>
					{% endif %}
				</div>
			</div>
			{% endblock %}
			
	    </div>
	  </div>
	</div>
</section>
<section>
	<div class='container innerContent'>
		<div id="info_wrapper" class="info_wrapper">
			<div class='row'>
				<div class='span2'></div>
				<div class='hpw_1 span2'>
					<h3>1</h3>
					<div class='blurb'>
						Buy products from PubCart partners around the web.
					</div>
				</div>
				<div class='arrow span1'></div>
				<div class='hpw_2 span2'>
					<h3>2</h3>
					<div class='blurb'>
						Product demand is calculated at PubCart's hub.
					</div>
				</div>
				<div class='arrow span1'></div>
				<div class='hpw_3 span2'>
					<h3>3</h3>
					<div class='blurb'>
						The more demand the less you pay.
					</div>
				</div>
				<div class='span2'></div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block footer %}
	<footer class="global-footer">
		<div class='container'>
		    <nav class="footer-nav">
		        <ul>
		            <!-- <li data-analytics="footer for you"><a href="">For You.</a></li>
		            <li data-analytics="footer for websties"><a href="">For Websites.</a></li>
		            <li data-analytics="footer for sellers"><a href="">For Sellers.</a></li> -->
		            <li data-analytics="footer about"><a href="{{uri_for('about')}}">About.</a></li>
		            <!-- <li data-analytics="footer blog"><a href="">Blog.</a></li> -->
		            <li data-analytics="footer jobs"><a href="{{uri_for('jobs')}}">Jobs.</a></li>
		        </ul>
		        <span class="copyright">Copyright 2013 · <a href="/" class="PubCart page-active">{{app_name}}</a></span>
		    </nav>
		</div>
	</footer>
{% endblock %}

