{% extends "preRegisterSignIn.html" %}

{% block title %}{{ app_name }} Thank you for pre-registering{% endblock %}

{% block main_content %}
{% if username and email %}
	<div class='preReg mainContent'>
		<div class='thankyou_message'>
			<h1>Thank you {{username}}!</h1>
			<h4>PubCart will be launching soon and we will notify you at {{email}} as soon as we do.</h4>
		</div>
	</div>
{% else %}
	<div class='preReg mainContent'>
		<div class='thankyou_message'>
			<h1>Thank you!</h1>
			<h4>PubCart will be launching soon and we will notify you as soon as we do.</h4>
		</div>
	</div>
{% endif %}
{% endblock %}