
{% macro publicCart_widget(cart, iter) %}

<div id='{{cart.n}}_widget_wrapper' class='product_widget_wrapper'>
	<div class='product_name'>
		<a class='no_decoration' href="{{ uri_for('fullPageCart', urlsafeCartKey=cart.key.urlsafe()) }}"><i class="icon-shopping-cart"></i>&nbsp;&nbsp;{{cart.n|truncate(length=25, killwords=True)}}</a>
	</div>
	<div class='product_widget_inner'>
		<div class='product_widget_image'>
			{% if cart.img %}
				<img src="{{cart.img}}" class="img-rounded" width='40px' height='40px'/>
			{% else %}
				<div class='no_icon_small'>No<br/>Logo</div>
			{% endif %}
		</div>
		<div id='{{cart.n}}_widget_info_wrapper' class='product_widget_info_wrapper'>
			<div cllass='product_sup'>
				<span class="label">$ {{cart.d_gt}}</span><span class='muted'>&nbsp;&nbsp;&nbsp;savings: TODO:on_server_side%</span>
			</div>
		</div>
		<div id='{{cart.n}}_widget_button' class='product_widget_button'>
			<div class="btn-group">
			    <button id='wlMoreOptionsButton{{iter}}' class="btn btn-mini dropdown-toggle" data-toggle="dropdown" rel="tooltip" title="More Options">
			      <span class="caret"></span>
			    </button>
			    <ul class="dropdown-menu pull-right">
			        <li><a href="{{ uri_for('fullPageCart', urlsafeCartKey=cart.key.urlsafe()) }}">View Cart</a></li>
				    <li><a href="{{ uri_for('fullPageWatchlist', urlsafeWatchlistKey=urlsafeWatchlistKey) }}">More Details</a></li>
			    </ul>
		  	</div>
		</div>
	</div>
</div>
{% endmacro %}